/* Background color for the entire page */
body {
    background-color: #F9FAFC;
}

/* Brand styling */
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

/* Light font weight */
.thin {
    font-weight: 300;
}

/* Background color for light areas */
.light-bg {
    background-color: #fff;
}

/* Background color for dark areas */
.dark-bg {
    background-color: #445261;
}

/* Main background color */
.main-bg {
    background-color: #F9FAFC;
}

/* Card styling */
.card {
    border: none;
    background-color: transparent;
}

/* Maintains image positioning */
.image-container {
    position: relative;
}

/* Styling for image overlay effect */
.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #445261;
}

/* Author text styling */
.author {
    color: rgb(255, 255, 255);
    margin: 4px;
    text-transform: uppercase;
}

/* Main masthead style */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

/* Styling for text within the masthead */
.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

/* Styling for the image in the masthead */
.masthead-image {
    position: relative;
    overflow: hidden;
}

/* Overlay effect for masthead image */
.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

/* Styling for post links */
.post-link {
    text-decoration: none;
    color: #445261;
}

/* Change link color on hover */
.post-link:hover,
.page-link {
    color: #777676;
}

/* Styling for post titles */
.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

/* Styling for post subtitles */
.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* Styling for signup button */
.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

/* Change button color on hover and click */
.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

/* Link styling */
.link {
    color: #23BBBB;
    text-decoration: none;
}

/* Change link color on hover and click */
.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/* Styling for like buttons */
.btn-like {
    color: #ff0606;
    border: none;
    background: transparent;
}

/* Change like button color on hover and click */
.btn-like:hover,
.btn-like:active {
    color: #ff4242;
    background: transparent;
    border: none;
}